<template>
  <div class="footer">
    <span>2020 © MagicUI</span>
    <span>更多详情请点击 👉🏻 <a>123</a></span>
  </div>
</template>

<script>
export default {
  name: 'TheFooter',
}
</script>

<style lang="scss" scoped>
.footer {
  @apply flex justify-between items-center text-gray-500;
  height: $footer-height;
}
</style>
