<template>
  <div class="the-sider">
    <div class="logo">
      <img
        class="w-8 transition cursor-pointer"
        src="@img/logo.png"
        alt="LOGO"
      >
      <span
        v-show="isSideMenuOpened"
        class="ml-4 primary text-2xl font-bold cursor-default select-none"
      >MagicUI</span>

      <div
        class="circle-area"
        :class="{ 'menu-close': !isSideMenuOpened }"
      >
        <div
          class="circle"
          :title="isSideMenuOpened ? '收起侧边栏' : '展开侧边栏'"
          @click="setSideMenuStatus"
        >
        </div>
      </div>
    </div>

    <perfect-scrollbar
      v-if="routes.length > 0"
      class="menu-scroll-wrapper"
      :options="{
        suppressScrollX: true,
        maxScrollbarLength: 160,
        wheelSpeed: 0.60,
      }"
    >
      <a-menu
        mode="inline"
        class="the-side-menu"
        :class="{ 'is-opened': isSideMenuOpened }"
        :inline-collapsed="!isSideMenuOpened"
        :selected-keys="selectedKeys"
        :open-keys="openKeys"
        @openChange="onOpenChange"
      >
        <template v-for="({ meta, children, single, disabled, hidden }) in routes">
          <template v-if="!hidden">
            <!-- 单个菜单项 -->
            <a-menu-item
              v-if="children && single"
              :key="children[0].name"
              :disabled="children[0].disabled"
            >
              <div
                class="flex items-center"
                @click="!children[0].disabled && routeTo(children[0].path, children[0].link)"
              >
                <feather
                  size="22"
                  class="side-menu-icon anticon"
                  :type="children[0].meta.icon"
                />
                <span>{{ children[0].meta.title }}</span>
              </div>
            </a-menu-item>

            <!-- 嵌套子菜单 -->
            <a-sub-menu
              popup-class-name="sub-menu"
              v-else-if="children && !single"
              :key="meta.openKey"
              :disabled="disabled"
            >
              <template v-slot:title>
                <div class="flex items-center">
                  <feather
                    size="22"
                    class="side-menu-icon anticon"
                    :type="meta.icon"
                  />
                  <span>{{ meta.title }}</span>
                </div>
              </template>

              <a-menu-item-group>
                <a-menu-item
                  v-for="({ path, link, name, meta }) in children"
                  :key="name"
                  :disabled="meta.disabled"
                >
                  <div
                    class="flex items-center"
                    @click="!meta.disabled && routeTo(path, link)"
                  >
                    <feather
                      class="mr-4"
                      size="10"
                      stroke-width="3"
                      type="minus"
                    />
                    <span>{{ meta.title }}</span>
                  </div>
                </a-menu-item>
              </a-menu-item-group>
            </a-sub-menu>
          </template>
        </template>
      </a-menu>
    </perfect-scrollbar>
  </div>
</template>

<script>
export default {
  name: 'TheSider',

  data: () => ({
    selectedKeys: [],
    openKeys: [], // 默认展开第一个嵌套菜单
  }),

  computed: {
    routes() {
      return this.$store.state.auth.routes
    },

    isSideMenuOpened() {
      return this.$store.state.isSideMenuOpened
    },
  },

  watch: {
    $route: {
      handler({ name, meta }) {
        if (meta?.openKey) {
          this.openKeys = [meta.openKey]
        }
        this.selectedKeys = [name]
      },
      immediate: true,
    },
  },

  methods: {
    setSideMenuStatus() {
      this.$store.commit('SET_SIDE_MENU_STATUS', !this.isSideMenuOpened)
    },

    onOpenChange(openKeys) {
      const latestOpenKey = openKeys.find((key) => this.openKeys.indexOf(key) === -1)
      this.openKeys = latestOpenKey ? [latestOpenKey] : []
    },

    routeTo(path, link) {
      if (path) {
        this.$router.push(path)
      } else {
        window.location = link
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.the-sider {
  @apply w-full;
  .logo {
    @apply relative flex items-center;
    height: $header-logo-height;
    padding: 0 23px;

    .circle-area {
      @apply relative ml-auto;
      transition: $transition;
      &.menu-close {
        @apply absolute z-50 left-0 w-full h-full ml-0 flex items-center justify-center opacity-0;
        background: $app-bg;
        &:hover {
          opacity: 1;
        }
      }
      .circle {
        @apply relative w-5 h-5 rounded-full;
        border: 2px solid $primary;
        cursor: pointer;
        &::after {
          content: "";
          @apply absolute w-2 h-2 rounded-full;
          border: 2px solid $primary;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

.menu-scroll-wrapper {
  height: calc(100vh - #{$header-logo-height});
  overflow: hidden;
}

.the-side-menu::v-deep {
  @apply border-none text-gray-800 bg-transparent select-none;
  &.is-opened {
    width: $sider-opened-width;
    .ant-menu-item-group-list .ant-menu-item {
      padding-left: 32px !important;
    }
  }

  .side-menu-icon {
    min-width: 24px;
    font-size: $side-menu-icon-size;
  }
  .side-submenu-icon {
    font-size: $side-submenu-icon-size;
  }

  .ant-menu {
    @apply bg-transparent;
    &:not(.ant-menu-horizontal) .ant-menu-item-selected {
      color: rgba($primary, 1);
      background-color: rgba($primary, 0.1);
    }
  }
  &.ant-menu .ant-menu-item-selected {
    background-color: rgba($primary, 0.1);
  }

  .ant-menu-item {
    &::after {
      border-radius: 1rem 0 0 1rem;
      border-right: 5px solid $primary;
    }
  }

  .ant-menu-item,
  .ant-menu-submenu {
    margin-bottom: 15px !important;
    &:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected) {
      color: $secondary;
    }
  }

  .ant-menu-item,
  .ant-menu-submenu .ant-menu-submenu-title {
    @apply text-base;
  }

  &.ant-menu-inline-collapsed {
    > .ant-menu-item {
      padding: $sider-closed-padding !important;
    }

    .ant-menu-submenu .ant-menu-submenu-title {
      padding: $sider-closed-padding !important;
    }
  }
}
</style>
<style lang="scss">
// 清除菜单组标题间距
.the-side-menu .ant-menu-item-group-title,
.sub-menu .ant-menu-item-group-title {
  padding: 0 !important;
}
</style>
