<template>
  <div>
    <div class="animated fadeIn faster">123456</div>
    <button @click="show = !show">
      Toggle render
    </button>
    <transition name="slide-fade">
      <p v-if="show">hello</p>
    </transition>
  </div>
</template>

<script>
export default {
  components: {
  },
  data() {
    return {
      show: true,
    }
  },
  methods: {
  },
}
</script>

<style lang="scss">
</style>
