<template>
  <main class="user-layout">
    <section class="user-layout-content">
      <a-tabs
        class="tabs select-none"
        default-active-key="Login"
        :active-key="activeKey"
        :animated="{tabPane:false}"
        @change="onTabChange"
      >
        <a-tab-pane
          key="Login"
          tab="登录"
        >
          <router-view name="login" />
        </a-tab-pane>
        <a-tab-pane
          key="Register"
          tab="注册"
        >
          <router-view name="register" />
        </a-tab-pane>
      </a-tabs>
    </section>
  </main>
</template>

<script>
export default {
  name: 'UserLayout',

  data: () => ({
    activeKey: 'login',
  }),

  watch: {
    '$route.name': {
      handler(name) { this.activeKey = name },
      immediate: true,
    },
  },

  methods: {
    onTabChange(name) {
      this.$router.push({ name })
    },
  },
}
</script>

<style lang="scss" scoped>
.user-layout {
  @apply min-h-screen flex items-center justify-center;
  background: center no-repeat url(~@/assets/images/user_layout_bg.svg);

  .user-layout-content {
    @media screen and (max-width: 450px) {
      width: 85%;
    }
    width: 350px;

    .tabs::v-deep {
      .ant-tabs-bar {
        border: none;
        .ant-tabs-tab {
          @apply text-lg;
        }
      }
      .ant-tabs-content {
        @apply py-5;
      }
    }
  }
}
</style>
