<template>
  <div class="custom-card">
    <div class="mb-6">
      <a-button
        size="large"
        type="primary"
        @click="showModal = true"
      >新增版本信息</a-button>
    </div>

    <a-table
      row-key="id"
      :columns="columns"
      :data-source="versionList"
      :loading="loading"
    >
      <template v-slot:action="{ id, name }">
        <div>
          <a-dropdown placement="bottomCenter">
            <feather
              class="gray cursor-pointer"
              size="20"
              type="more-horizontal"
            ></feather>
            <a-menu
              slot="overlay"
              class="table-action-menu"
            >
              <a-menu-item @click="onEdit(id)">
                详情
              </a-menu-item>
              <a-menu-item @click="onEdit(id)">
                编辑
              </a-menu-item>
              <a-menu-item
                class="danger"
                @click="onDelete(id, name)"
              >删除
              </a-menu-item>
            </a-menu>
          </a-dropdown>
        </div>
      </template>
    </a-table>

    <a-modal
      centered
      :title="editId ? '编辑版本信息' : '新增版本信息'"
      :visible="showModal"
      :confirm-loading="confirmLoading"
      @ok="onComfirm"
      @cancel="closeModal"
    >
      <a-form
        hide-required-mark
        class=""
        :form="form"
        :label-col="{ span: 4 }"
        :wrapper-col="{ span: 14 }"
      >
        <a-form-item
          v-for="({ label, decorator, placeholder }, index) in formItems"
          :key="index"
          :label="label"
        >
          <a-input
            type="text"
            size="large"
            :placeholder="placeholder"
            v-decorator="decorator"
          ></a-input>
        </a-form-item>
        <a-form-item label="版本说明">
          <a-textarea
            placeholder="请输入版本说明"
            v-decorator="[
              'content',
              { rules: [{ required: true, message: '请填写发布说明' }] },
            ]"
            :rows="4"
          />
        </a-form-item>
        <a-form-item label="发布时间">
          <a-date-picker
            size="large"
            value-format="yyyy-MM-DD HH:mm:ss"
            v-decorator="[
              'publishTime',
              { rules: [{ required: true, message: '请选择发布时间' }] },
            ]"
          />
        </a-form-item>
      </a-form>
    </a-modal>
  </div>
</template>

<script>
import {
  getVersionList, updateVersion, createVersion, deleteVersion,
} from '@/api/version'

export default {
  name: 'Version',

  created() {
    this.getVersionList()
  },

  data() {
    return {
      columns: [
        {
          title: '版本名称',
          dataIndex: 'name',
        },
        {
          title: '版本号',
          dataIndex: 'version',
          customRender: (version) => (
            <a-tag color="#6485ff">
              <span class="text-base font-medium">{version}</span>
            </a-tag>
          ),
        },
        {
          title: '版本内容',
          dataIndex: 'content',
        },
        {
          title: '邮箱',
          dataIndex: 'email',
        },
        {
          title: '创建时间',
          dataIndex: 'createdAt',
        },
        {
          title: '发布时间',
          dataIndex: 'publishTime',
        },
        {
          title: '操作',
          scopedSlots: { customRender: 'action' },
        },
      ],
      formItems: [
        {
          label: '版本名称',
          placeholder: '请填写版本名称',
          decorator: [
            'name',
            { rules: [{ required: true, message: '请填写版本名称' }] },
          ],
        },
        {
          label: '版本号',
          placeholder: '请填写版本号',
          decorator: [
            'version',
            { rules: [{ required: true, message: '请填写版本号' }] },
          ],
        },
      ],
      versionList: [],
      loading: false,
      showModal: false,
      form: this.$form.createForm(this),
      editId: null,
      confirmLoading: false,
    }
  },

  methods: {
    async getVersionList(page = 1, pageSize = 10) {
      try {
        this.loading = true
        const { data } = await getVersionList({
          page,
          pageSize,
        })
        this.versionList = data
      } finally {
        this.loading = false
      }
    },

    async createVersion(values) {
      await createVersion(values)
    },

    async updateVersion(id, values) {
      await updateVersion({ id, ...values })
    },

    onEdit(dataId) {
      this.showModal = true
      this.$nextTick(() => {
        const {
          id, name, version, content, publishTime,
        } = this.versionList.find(({ id: itemId }) => itemId === dataId)
        this.editId = id
        this.form.setFieldsValue({
          name, version, content, publishTime,
        })
      })
    },

    onDelete(id, name) {
      const that = this
      this.$confirm({
        title: '确定要删除此版本记录吗？',
        content: () => (
          <div>
            <span>版本名称：</span>
            <span class="danger">{name}</span>
          </div>
        ),
        async onOk() {
          await deleteVersion({ id })
          that.getVersionList()
          that.setMessage('删除')
        },
        centered: true,
      })
    },

    onComfirm() {
      this.form.validateFields(async (error, values) => {
        if (!error) {
          try {
            this.confirmLoading = true

            if (this.editId) {
              await this.updateVersion(this.editId, values)
              this.setMessage('更新')
            } else {
              await this.createVersion(values)
              this.setMessage('修改')
            }
            this.getVersionList()
            this.closeModal()
          } finally {
            this.confirmLoading = false
          }
        }
      })
    },

    setMessage(type, status = 'success') {
      this.$message[status](`已${type}一条版本信息`)
    },

    closeModal() {
      this.showModal = false
      this.editId = null
      this.form.resetFields()
    },
  },
}
</script>
