<template>
  <div class="main-layout">
    <aside
      class="the-sider"
      :class="menuStatusClass"
    >
      <div class="logo">
        <img
          class="transition cursor-pointer"
          src="@img/logo.svg"
          alt="LOGO"
          :class="isSideMenuOpened ? 'w-16' : 'w-10'"
          @click="setSideMenuStatus"
        >
      </div>

      <!-- 侧边导航 -->
      <the-side-menu></the-side-menu>
    </aside>

    <main
      class="the-main"
      :class="menuStatusClass"
    >
      <!-- 顶部导航 -->
      <header
        class="the-header"
        :class="menuStatusClass"
      >
        <the-header></the-header>
      </header>

      <!-- 主区域 -->
      <div class="router-content">
        <transition
          name="sale-fade"
          mode="out-in"
        >
          <keep-alive
            :include="alivePages"
            :max="5"
          >
            <router-view />
          </keep-alive>
        </transition>
      </div>
    </main>
  </div>
</template>

<script>
import _debounce from 'lodash.debounce'

import TheHeader from './components/TheHeader.vue'
import TheSideMenu from './components/TheSideMenu.vue'

export default {
  name: 'MainLayout',
  components: {
    TheHeader,
    TheSideMenu,
  },

  data: () => ({
    alivePages: [], // 允许缓存的路由
  }),

  computed: {
    menuStatusClass() {
      return this.isSideMenuOpened ? 'menu-open' : 'menu-close'
    },
    isSideMenuOpened() {
      return this.$store.state.isSideMenuOpened
    },
  },

  mounted() {
    // 观察网页宽度，设置侧边栏菜单是否展开
    window.onresize = _debounce(() => {
      const CAN_MENU_OPEN = !!(document.body.clientWidth >= 1300)
      this.$store.commit('SET_SIDE_MENU_STATUS', CAN_MENU_OPEN)
    }, 400)
  },

  methods: {
    setSideMenuStatus() {
      this.$store.commit('SET_SIDE_MENU_STATUS', !this.isSideMenuOpened)
    },
  },
}
</script>

<style lang="scss" scoped>
.main-layout {
  @apply relative min-h-screen;
  min-width: $layout-min-width;
}

$main-open-margin-left: pxTorem($sider-opened-width) + $section-gap;
$main-close-margin-left: pxTorem($sider-closed-width) + $section-gap;

.the-sider {
  @apply fixed top-0 left-0 h-full bg-white overflow-hidden;
  width: $sider-opened-width;
  box-shadow: $sider-shadow;
  transition: $transition;
  &.menu-close {
    width: $sider-closed-width !important;
  }

  .logo {
    @apply flex items-center justify-center;
    height: $header-logo-height;
  }
}

.the-main {
  height: 100%;
  margin-left: $main-open-margin-left;
  padding-top: pxTorem($header-height);
  padding-bottom: $section-gap;
  padding-right: $section-gap;
  transition: $transition;
  &.menu-close {
    margin-left: $main-close-margin-left;
  }
}

.the-header {
  @apply fixed top-0 right-0 flex items-center;
  z-index: 999;
  width: calc(100% - #{$sider-opened-width});
  height: $header-height;
  padding: $section-gap;
  padding-top: $section-gap - 0.4rem;
  transition: $transition;
  &.menu-close {
    width: calc(100% - #{$sider-closed-width} - #{$section-gap});
  }
}

.router-content {
  height: 100%;
  min-width: 100%;
}
</style>
