<template>
  <main class="user-layout">
    <router-view />
  </main>
</template>

<script>
export default {
  name: 'UserLayout',
}
</script>

<style lang="scss" scoped>
.user-layout {
  @apply min-h-screen;
  background: center no-repeat url(~@/assets/images/user_layout_bg.svg);
}
</style>
