@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/**
 * 修改浏览器默认的滚动条样式
 */
::-webkit-scrollbar {
  width: 8px !important;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px !important;
  background-color: rgba($secondary, 0.2) !important;
  border: none !important;
}

::-webkit-scrollbar-track-piece {
  background-color: $app-bg !important;
}

::selection {
  color: inherit !important;
  background: rgba($primary, 0.2) !important;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $root-font-size;
}

#root {
  .app {
    min-height: 100vh;
    min-width: $layout-min-width;
    background: #f8f8fb;
    transition: $transition;

    &-aside {
      position: fixed;
      top: 0;
      z-index: 998;
      width: $sider-opened-width;
      height: 100%;
      padding-top: $header-height;
      background: #fff;
      transition: $transition;
      overflow: hidden;

      &.menu-close {
        width: $sider-closed-width !important;
      }

      .ant-menu {
        width: 100%;
        font-size: 16px;
        border: none;
        user-select: none;

        .ant-menu-item {
          display: flex;
          align-items: center;

          &::after {
            border-right: 4px solid $primary;
          }
        }

        .ant-menu-submenu-title {
          display: flex;
          align-items: center;
        }

        &.ant-menu-inline-collapsed {
          >.ant-menu-item {
            padding: $sider-closed-padding !important;
          }

          .ant-menu-submenu .ant-menu-submenu-title {
            padding: $sider-closed-padding !important;
          }
        }
      }
    }

    &-header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 999;
      height: $header-height;
      padding-right: $section-gap;
      background: #fff;

      &.menu-close {
        .brand-box {
          width: $sider-closed-width;

          .brand-box__text {
            max-width: 0;
            margin: 0;
            overflow: hidden;
          }
        }
      }

      .brand-box {
        width: $sider-opened-width;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: $transition;

        .brand-box__text {
          max-width: 300px;
          transition: all .2s;
        }
      }
    }

    &-main {
      position: relative;
      height: 100%;
      min-height: 100vh;
      margin-left: pxTorem($sider-opened-width) + $section-gap;
      padding-top: pxTorem($header-height) + $section-gap;
      padding-right: $section-gap;
      transition: $transition;

      &.menu-close {
        margin-left: pxTorem($sider-closed-width) + $section-gap;
      }
    }

    &-section {
      min-height: calc(100vh - #{$header-height} - #{$footer-height} - #{$section-gap});
    }

    &-footer {
      height: $footer-height;
      display: flex;
      align-items: center;
    }
  }
}

.user-layout {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8fb;

  &__left {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    background: white;

    @mixin layoutMargin {
      margin-left: auto;
      margin-right: 90px;

      @media (max-width: 1540px) {
        margin-right: auto;
      }
    }

    .form-area {
      @include layoutMargin();
      flex: 1;
      width: 22rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .login-form {
        label.ant-form-item-required {
          width: 100%;
        }
      }

      .form-bar {
        padding: 18px 0;

        .title {
          margin-bottom: 4px;
          color: #495057;
          font-weight: bold;
          font-size: 1.2rem;
        }

        .desc {
          color: $secondary;
          font-size: 0.8rem;
        }
      }

      .ant-form-item-label {
        padding-bottom: 5px;

        .ant-form-item-required {
          height: auto;
        }
      }
    }

    .footer {
      @include layoutMargin();
      padding: 20px 0;
      color: $secondary;
    }
  }

  &__right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .slick-dots {
      li {
        button {
          opacity: 0.4;
          background: rgba(var(--primary), 1);
        }

        &.slick-active button {
          background: rgba(var(--primary), 1);
        }
      }
    }
  }
}

/** 
 * 头像下拉菜单
 */
.header-menu {
  &__item {
    &:hover {
      &.logout-item {
        color: $danger;
      }

      color: $primary;
      background: none;
    }
  }
}

.fullscreen-enabled {
  background: $app-bg;
}

.custom-card {
  padding: 1.25rem;
  border-radius: 0.375rem;
  background-color: #fff;
  overflow: hidden;

  &__title {
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
}

.li-marker::marker {
  color: $primary !important;
  font-size: 40px;
}

@each $color in primary,
secondary,
success,
warning,
danger,
info,
primary-light,
secondary-light,
success-light,
warning-light,
danger-light,
info-light {
  .#{$color} {
    color: map-get($color-map, $color) !important;
  }

  .bg-#{$color} {
    background-color: map-get($color-map, $color) !important;
  }
}