:root {
  --primary: 85, 110, 230;
  --secondary: 116, 120, 141;
  --success: 52, 195, 143;
  --warning: 241, 180, 76;
  --danger: 244, 106, 106;
  --info: 80, 165, 241;
  --primary-light: var(--primary), .14;
  --secondary-light: var(--secondary), .14;
  --success-light: var(--success), .14;
  --warning-light: var(--warning), .14;
  --danger-light: var(--danger), .14;
  --info-light: var(--info), .14;
}

$primary: #556ee6;
$secondary: #74788d;
$success : #34c38f;
$warning:#f1b44c;
$danger: #f46a6a;
$info: #50a5f1;
$primary-light: rgba(var(--primary), .14);
$secondary-light: rgba(var(--secondary), .14);
$success-light: rgba(var(--success), .14);
$warning-light: rgba(var(--warning), .14);
$danger-light: rgba(var(--danger), .14);
$info-light: rgba(var(--info), .14);

$root-font-size: 16px;
$side-menu-icon-size: 20px;
$side-menu-icon-color: #626262;
$side-submenu-icon-size: 16px;

$section-gap: 1.8rem;

$layout-min-width: 1200px;
$sider-opened-width: 260px;
$sider-closed-width: 80px;
$sider-closed-padding: 0 26px 0 28px;
$header-height: 70px;
$header-logo-height: 69px;
$footer-height: 64px;
$full-height: calc(100vh - #{$header-height} - #{$footer-height} - 2 * #{$section-gap});

$app-bg: rgb(246, 248, 251);

$header-shadow: 0 4px 20px 0 rgba(0, 0, 0, .05);

$transition: all 0.3s;

$color-map: (primary: $primary,
  secondary: $secondary,
  success: $success,
  warning: $warning,
  danger: $danger,
  info: $info,
  primary-light: $primary-light,
  secondary-light:$secondary-light,
  success-light:$success-light,
  warning-light:$warning-light,
  danger-light:$danger-light,
  info-light:$info-light);

@function pxTorem($px) {
  @return $px / $root-font-size * 1rem;
}