:root {
  --primary: #1890ff;
  --success: #52c41a;
  --warning: #faad14;
  --error: #f5222d;
  --dark: #1E1E1E;
  --gray: #718096;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $root-font-size;
}

body {
  height: initial !important;
  min-height: 100%;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

#app {
  @apply min-h-screen;
  background: $app-bg;
}

.transition {
  transition: $transition;
}

@each $color in primary,
success,
warning,
danger,
dark {
  .#{$color} {
    color: map-get($color-map, $color) !important;
  }

  .bg-#{$color} {
    background-color: map-get($color-map, $color) !important;
  }
}

.custom-card {
  @apply p-4 rounded-lg bg-white overflow-auto;
}

.sale-fade-enter-active,
.sale-fade-leave-active {
  transition: all 0.3s ease;
}

.sale-fade-enter {
  transform: scale(0.97);
  // transform: translateX(-10px);
  opacity: 0;
}

.sale-fade-leave-to {
  transform: scale(1.03);
  // transform: translateX(10px);
  opacity: 0;
}