$primary: #6485ff;
$success : #46c93a;
$danger: #ff4757;
$warning:#ffba00;
$dark: #1e1e1e;
$gray: #718096;

$root-font-size: 16px;
$side-menu-icon-size: 20px;
$side-menu-icon-color: #626262;
$side-submenu-icon-size: 16px;

$section-gap: 1.5rem; // 各部件之间的间隙

$layout-min-width: 1000px;
$sider-opened-width: 256px;
$sider-closed-width: 80px;
$header-height: 105px;
$header-logo-height: 64px;

$app-bg: rgb(246, 248, 251);

$sider-shadow: 2px 0 8px 0 rgba(29, 35, 41, .05);
$header-shadow: 0 4px 20px 0 rgba(0, 0, 0, .05);

$transition: all 0.3s;

$color-map: (primary: $primary, success: $success, warning: $warning, danger: $danger);

@function pxTorem($px) {
  @return $px / $root-font-size * 1rem;
}