<template>
  <div class="header">
    <div>
      <a-icon
        class="text-xl cursor-pointer"
        :title="isSideMenuOpened ? '收起菜单' : '展开菜单'"
        :type="isSideMenuOpened ? 'menu-fold' : 'menu-unfold'"
        @click="$store.commit('SET_SIDE_MENU_STATUS', !isSideMenuOpened)"
      />
    </div>

    <div class="setting">
      <a-dropdown :trigger="['click']">
        <div class="h-full flex items-center">
          <div class="flex items-center text-base">
            <span class="px-2">{{ name }}</span>
          </div>
        </div>
        <a-menu
          slot="overlay"
          class="w-32"
        >
          <a-menu-item
            v-for="({ label, name, icon, click }, index) in menuItems"
            :key="index"
            @click="onClickMenuItem(name, click)"
          >
            <div
              tag="div"
              class="flex items-center justify-center"
            >
              <a-icon
                class="text-base"
                :type="icon"
              />
              <span class="ml-2">{{ label }}</span>
            </div>
          </a-menu-item>
        </a-menu>
      </a-dropdown>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TheHeader',

  data: () => ({
    menuItems: [
      {
        label: '个人中心', name: 'Profile', icon: 'user',
      },
      {
        label: '退出登录', name: 'Login', icon: 'logout', click: 'logOut',
      },
    ],
  }),

  computed: {
    isSideMenuOpened() {
      return this.$store.state.isSideMenuOpened
    },

    name() {
      return this.$store.state.user.info?.name || '暂无昵称'
    },
  },

  methods: {
    async logOut() {
      const CAN_LOGOUT = await this.$store.dispatch('user/logout')
      console.log(CAN_LOGOUT)
      if (CAN_LOGOUT) {
        this.$router.replace({ name: 'Login' })
      }
    },

    onClickMenuItem(name, click) {
      if (click) {
        this[click]()
      } else {
        this.$router.push({ name })
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.header {
  @apply w-full h-full px-6 flex items-center bg-white;
  box-shadow: $header-shadow;
}

.setting {
  @apply h-full ml-auto flex items-center cursor-pointer;
}
</style>
