<template>
  <div class="min-h-screen flex flex-col items-center justify-center">
    <div>
      <a-form
        class="login-form"
        :form="form"
        @submit="handleLogin"
      >
        <a-form-item
          v-for="({ icon, decorator, size='large', placeholder, type='text' }, index) in formItems"
          :key="index"
        >
          <a-input
            class="login-input"
            :size="size"
            :type="type"
            :placeholder="placeholder"
            @keydown.enter="handleLogin"
            v-decorator="decorator"
          >
            <feather
              slot="prefix"
              stroke="#aaa"
              size="20"
              :type="icon"
            ></feather>
          </a-input>
        </a-form-item>
        <a-form-item>
          <a-button
            class="w-full"
            size="large"
            type="primary"
            html-type="submit"
            :loading="loading"
          >
            立即登录
          </a-button>
        </a-form-item>
      </a-form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Login',

  data() {
    const formItems = [
      {
        icon: 'user',
        placeholder: '登录账号',
        decorator: [
          'account',
          { rules: [{ required: true, message: '请输入账号' }] },
        ],
      },
      {
        icon: 'lock',
        placeholder: '登录密码',
        type: 'password',
        decorator: [
          'password',
          { rules: [{ required: true, message: '请输入密码' }] },
        ],
      },
    ]
    return {
      formItems,
      form: this.$form.createForm(this),
      loading: false,
    }
  },

  methods: {
    handleLogin(e) {
      e.preventDefault()

      this.form.validateFields(async (error, values) => {
        if (!error) {
          this.loading = true
          try {
            // admin@pvc123.com
            // a123456
            const CAN_LOGIN = await this.$store.dispatch('user/login', values)
            if (CAN_LOGIN) {
              this.$router.replace('/').catch(() => {
                console.log('正常')
              })
            }
          } catch (err) {
            console.log(err)
          } finally {
            this.loading = false
          }
        }
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.login-form {
  width: 20rem;
  .login-input::v-deep {
    .ant-input {
      padding-left: 40px;
    }
  }
}
</style>
