<template>
  <div>
    <div class="mb-5">
      <a-date-picker
        v-model="date"
        value-format="YYYY-MM-DD"
        @change="onDateChange"
      />
    </div>

    <div class="custom-card">
      <a-table
        row-key="key"
        :columns="columns"
        :data-source="frequencyList"
        :loading="loading"
        :pagination="pagination"
      >
      </a-table>
    </div>
  </div>
</template>

<script>
import { getTaskLogList } from '@/api/task'

export default {
  name: 'TaskLog',

  data() {
    return {
      columns: [
        {
          title: '日期',
          dataIndex: 'date',
        },
        {
          title: '成功次数',
          dataIndex: 'successCount',
        },
        {
          title: '失败次数',
          dataIndex: 'failCount',
        },
        {
          title: '调用次数',
          dataIndex: 'callCount',
        },
        {
          title: '最大运行时间',
          dataIndex: 'maxTime',
        },
        {
          title: '最小运行时间',
          dataIndex: 'minTime',
        },
        {
          title: '最大运行内存',
          dataIndex: 'maxMemory',
        },
        {
          title: '最小运行内存',
          dataIndex: 'minMemory',
        },
      ],
      pagination: {
        total: 0,
        defaultPageSize: 10,
        onChange: this.onPageChange,
        showSizeChanger: false,
        showTotal: (total) => `共 ${total} 条数据`,
      },
      date: null,
      frequencyList: [],
      loading: false,
    }
  },

  created() {
    this.getTaskLogList()
  },

  methods: {
    async getTaskLogList(date, page = 1, pageSize = this.pagination.defaultPageSize) {
      const { data, count = 0 } = await getTaskLogList({ page, pageSize, date })
      this.frequencyList = data
      this.pagination.total = count
    },

    onDateChange(_, dateString) {
      this.getTaskLogList(dateString)
    },

    onPageChange(page) {
      this.getTaskLogList(this.date, page)
    },
  },
}
</script>
