<template>
  <div class="header">
    <div class="setting">
      <a-dropdown
        :placement="name.length >= 4 ? 'bottomCenter' : 'bottomLeft'"
        :trigger="['click']"
      >
        <div class="h-full flex items-center">
          <div class="flex items-center text-base">
            <span class="ml-1">{{ name }}</span>
          </div>
        </div>
        <a-menu
          slot="overlay"
          class="w-32"
        >
          <a-menu-item
            v-for="({ label, name, icon, click }, index) in menuItems"
            :key="index"
            @click="onClickMenuItem(name, click)"
          >
            <div
              tag="div"
              class="flex items-center justify-center"
            >
              <feather
                size="16"
                :type="icon"
              ></feather>
              <span class="ml-2">{{ label }}</span>
            </div>
          </a-menu-item>
        </a-menu>
      </a-dropdown>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TheHeader',

  data: () => ({
    menuItems: [
      {
        label: '个人中心', name: 'Profile', icon: 'user',
      },
      {
        label: '退出登录', name: 'Login', icon: 'log-out', click: 'logOut',
      },
    ],
  }),

  computed: {
    name() {
      return this.$store.state.user.info?.name || '暂无昵称'
    },
  },

  methods: {
    async logOut() {
      const CAN_LOGOUT = await this.$store.dispatch('user/logout')
      if (CAN_LOGOUT) {
        this.$router.replace({ name: 'Login' })
      }
    },

    onClickMenuItem(name, click) {
      if (click) {
        this[click]()
      } else {
        this.$router.push({ name })
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.header {
  @apply w-full h-full px-6 flex items-center rounded-lg bg-white;
  box-shadow: $header-shadow;
  background-color: hsla(0, 0%, 100%, 0.8);
  backdrop-filter: saturate(180%) blur(5px);
}

.setting {
  @apply h-full ml-auto flex items-center cursor-pointer;
}
</style>
