<template>
  <vue-perfect-scrollbar
    class="menu-scroll-wrapper"
    :settings="{
      suppressScrollX: true,
      maxScrollbarLength: 160,
      wheelSpeed: 0.60,
    }"
  >
    <a-menu
      mode="inline"
      class="the-side-menu select-none"
      :class="{ 'is-opened': isSideMenuOpened }"
      :inline-collapsed="!isSideMenuOpened"
      :selected-keys="selectedKeys"
      :open-keys="openKeys"
      @click="onClickMenuItem"
      @openChange="onOpenChange"
    >
      <template v-for="({ meta, children, single, hidden }, idx) in routes">
        <template v-if="!hidden">
          <!-- 单个菜单项 -->
          <a-menu-item
            v-if="children && single"
            :key="children[0].name"
          >
            <router-link
              tag="div"
              class="flex items-center"
              :to="children[0].path"
            >
              <feather
                size="22"
                class="side-menu-icon anticon"
                :type="children[0].meta.icon"
              ></feather>
              <span>{{ children[0].meta.title }}</span>
            </router-link>
          </a-menu-item>

          <!-- 嵌套子菜单 -->
          <a-sub-menu
            popup-class-name="sub-menu"
            v-else-if="children && !single"
            :key="idx + 1"
          >
            <template v-slot:title>
              <div class="flex items-center">
                <feather
                  size="22"
                  class="side-menu-icon anticon"
                  :type="meta.icon"
                ></feather>
                <span>{{ meta.title }}</span>
              </div>
            </template>

            <a-menu-item-group>
              <a-menu-item
                v-for="({ path, name, meta }) in children"
                :key="name"
              >
                <router-link
                  tag="div"
                  class="flex items-center"
                  :to="path"
                >
                  <feather
                    class="mr-4"
                    size="14"
                    stroke-width="3"
                    type="chevron-right"
                  ></feather>
                  <span>{{ meta.title }}</span>
                </router-link>
              </a-menu-item>
            </a-menu-item-group>
          </a-sub-menu>
        </template>
      </template>
    </a-menu>
  </vue-perfect-scrollbar>
</template>

<script>
import { routes } from '@/router/router'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'

export default {
  name: 'TheSideMenu',
  components: { VuePerfectScrollbar },

  data: () => ({
    routes,
    selectedKeys: [],
    openKeys: [1],
  }),

  computed: {
    isSideMenuOpened() {
      return this.$store.state.isSideMenuOpened
    },
  },

  watch: {
    '$route.name': {
      handler(name) {
        this.selectedKeys = [name]
      },
      immediate: true,
    },
  },

  methods: {
    onClickMenuItem({ key }) {
      this.selectedKeys = [key]
    },

    onOpenChange(openKeys) {
      const latestOpenKey = openKeys.find((key) => this.openKeys.indexOf(key) === -1)
      this.openKeys = latestOpenKey ? [latestOpenKey] : []
    },
  },
}
</script>

<style lang="scss" scoped>
.menu-scroll-wrapper {
  @apply pt-4;
  height: calc(100% - #{$header-logo-height});
  overflow: hidden;
}

.the-side-menu::v-deep {
  @apply border-none text-gray-800;
  &.is-opened {
    width: $sider-opened-width;
    .ant-menu-item-group-list .ant-menu-item {
      padding-left: 32px !important;
    }
  }

  .side-menu-icon {
    min-width: 24px;
  }
  .side-submenu-icon {
    font-size: $side-submenu-icon-size;
  }

  .ant-menu-item {
    &::after {
      border-radius: 1rem 0 0 1rem;
      border-right: 5px solid $primary;
    }
  }

  .ant-menu-item,
  .ant-menu-submenu {
    margin-bottom: 15px !important;
    color: $side-menu-icon-color;
  }

  .ant-menu-item,
  .ant-menu-submenu .ant-menu-submenu-title {
    @apply text-base;
  }

  $pd: 0 29px;

  &.ant-menu-inline-collapsed {
    > .ant-menu-item {
      padding: $pd !important;
    }

    .ant-menu-submenu .ant-menu-submenu-title {
      padding: $pd !important;
    }
  }
}
</style>
<style lang="scss">
.the-side-menu .ant-menu-item-group-title,
.sub-menu .ant-menu-item-group-title {
  padding: 0 !important;
}
</style>
