/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

@variants hover,
focus {

  @each $color in primary,
  success,
  warning,
  danger,
  dark {
    .#{$color} {
      color: map-get($color-map, $color) !important;
    }

    .bg-#{$color} {
      background-color: map-get($color-map, $color) !important;
    }
  }
}

button:focus {
  outline: none;
}