<template>
  <div class="flex flex-col items-center justify-center">
    <a-form
      class="login-form"
      :form="form"
      @submit="onLogin"
    >
      <a-form-item
        v-for="({ icon, decorator, size='large', placeholder, type='text' }, index) in formItems"
        :key="index"
      >
        <a-input
          class="login-input"
          :size="size"
          :type="type"
          :placeholder="placeholder"
          @keydown.enter="onLogin"
          v-decorator="decorator"
        >
          <a-icon
            style="color: #aaa;"
            class="text-lg"
            slot="prefix"
            :type="icon"
          />
        </a-input>
      </a-form-item>
      <a-form-item>
        <a-button
          class="w-full"
          size="large"
          type="primary"
          html-type="submit"
          :loading="loading"
        >
          {{ loginBtnText }}
        </a-button>
      </a-form-item>
    </a-form>
  </div>
</template>

<script>
export default {
  name: 'Login',

  data() {
    return {
      form: this.$form.createForm(this),
      formItems: [
        {
          icon: 'user',
          placeholder: '登录账号',
          decorator: [
            'account',
            { rules: [{ required: true, message: '请输入账号' }] },
          ],
        },
        {
          icon: 'lock',
          placeholder: '登录密码',
          type: 'password',
          decorator: [
            'password',
            { rules: [{ required: true, message: '请输入密码' }] },
          ],
        },
      ],
      loading: false,
      loginBtnText: '立即登录',
    }
  },

  methods: {
    onLogin(e) {
      e.preventDefault()

      this.form.validateFields(async (error, values) => {
        if (!error) {
          this.loading = true
          try {
            this.loginBtnText = '正在登录'
            const CAN_LOGIN = await this.$store.dispatch('user/login', values)
            if (CAN_LOGIN) {
              this.$router.replace('/')
            }
          } finally {
            this.loading = false
            this.loginBtnText = '立即登录'
          }
        }
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.login-form {
  width: 100%;
  .login-input::v-deep {
    .ant-input {
      padding-left: 40px;
    }
  }
}
</style>
